# Maven Müll
target/
*.class

# VS Code Müll
.settings/
.project
.classpath
.factorypath

# IntelliJ
.idea

# Docker Daten (Wichtig: Wir teilen das Rezept, nicht die echten DB-Daten!)
mongo-data/